.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:30px 35px;
    background:#f6f7fb;
}

.topbar h1{
    font-size:22px;
    font-weight:700;
    margin-bottom:8px;
}

.topbar p{
    color:#777;
}

.topbar-right{
    display:flex;
    align-items:center;
    gap:25px;
}

.profile-wrapper{
    position:relative;
}

.profile-menu{
    position:absolute;
    top:60px;
    right:0;
    width:180px;
    background:white;
    border-radius:12px;
    box-shadow:0 8px 20px rgba(0,0,0,.12);
    overflow:hidden;
    z-index:100;
}

.profile-menu button{
    width:100%;
    border:none;
    background:white;
    padding:14px 18px;
    display:flex;
    align-items:center;
    gap:10px;
    cursor:pointer;
    font-size:15px;
}

.profile-menu button:hover{
    background:#f6f7fb;
}

.avatar{
    width:45px;
    height:45px;
    background:#6c4df6;
    color:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
}